<a href="https://colab.research.google.com/github/Rosangelafl/Covid19-com-Plotly/blob/master/Covid_plotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Análise dos dados de Covid 19 e viz com plotly.

Fonte dos dados.:https://data.brasil.io/dataset/covid19/_meta/list.html

In [0]:
import pandas as pd

In [118]:
file = '/content/drive/My Drive/caso_full_ed.csv'
df = pd.read_csv(file, sep=',',parse_dates=['date', 'last_available_date'])
df.head()

        city  city_ibge_code       date  ...  state  new_confirmed  new_deaths
0  São Paulo       3550308.0 2020-02-25  ...     SP              1           0
1        NaN            35.0 2020-02-25  ...     SP              1           0
2  São Paulo       3550308.0 2020-02-26  ...     SP              0           0
3        NaN            35.0 2020-02-26  ...     SP              0           0
4  São Paulo       3550308.0 2020-02-27  ...     SP              0           0

[5 rows x 17 columns]

In [0]:
import warnings
warnings.filterwarnings('ignore')

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204196 entries, 0 to 204195
Data columns (total 17 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   city                                           201681 non-null  object
 1   city_ibge_code                                 202889 non-null  float64
 2   date                                           204196 non-null  datetime64[ns]
 3   epidemiological_week                           204196 non-null  int64
 4   estimated_population_2019                      202889 non-null  float64
 5   is_last                                        204196 non-null  bool
 6   is_repeated                                    204196 non-null  bool
 7   last_available_confirmed                       204196 non-null  int64
 8   last_available_confirmed_per_100k_inhabitants  197966 non-null  float64
 9   last_available_date                            204196 non-null  datetime64[ns]
 10  last_available_death_rate                      204196 non-null  float64
 11  last_available_deaths                          204196 non-null  int64
 12  order_for_place                                204196 non-null  int64
 13  place_type                                     204196 non-null  object
 14  state                                          204196 non-null  object
 15  new_confirmed                                  204196 non-null  int64
 16  new_deaths                                     204196 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 23.8+ MB

In [0]:
df[['city']] = df[['city']].fillna('')

In [122]:
df.last_available_date.describe()

count                  204196
unique                    110
top       2020-06-03 00:00:00
freq                     4959
first     2020-02-25 00:00:00
last      2020-06-13 00:00:00
Name: last_available_date, dtype: object

In [123]:
#Agrupando por data,semana epidemiologica por ultimos confirmados e mortos
df.agrupado = df.groupby(['epidemiological_week', 'date'])['new_confirmed', 'new_deaths'].sum().reset_index()
df.agrupado.sort_values(by='new_confirmed', ascending=False)

     epidemiological_week       date  new_confirmed  new_deaths
101                    23 2020-06-05          70573        2460
106                    24 2020-06-10          66950        2464
95                     22 2020-05-30          64649        1754
102                    23 2020-06-06          63871        2475
98                     23 2020-06-02          63814        2736
..                    ...        ...            ...         ...
5                      10 2020-03-01              0           0
4                       9 2020-02-29              0           0
13                     11 2020-03-09              0           0
2                       9 2020-02-27              0           0
1                       9 2020-02-26              0           0

[110 rows x 4 columns]

In [0]:
df_estados = df.groupby(['city', 'date', 'state'])['new_confirmed','new_deaths'].sum().reset_index()

In [125]:
df_estados.head(10)

  city       date state  new_confirmed  new_deaths
0      2020-02-25    SP              1           0
1      2020-02-26    SP              0           0
2      2020-02-27    SP              0           0
3      2020-02-28    SP              1           0
4      2020-02-29    SP              0           0
5      2020-03-01    SP              0           0
6      2020-03-02    SP              0           0
7      2020-03-03    SP              0           0
8      2020-03-04    SP              1           0
9      2020-03-05    ES              1           0

In [0]:
df_estados.to_csv('cases_estados.csv')

In [127]:
df_estados.city.value_counts(10)

                           0.012317
Importados/Indefinidos     0.006401
Santa Luzia                0.001107
Cruzeiro do Sul            0.000984
Bom Jesus                  0.000940
                             ...
Santa Maria do Herval      0.000005
Pinhal                     0.000005
Oratórios                  0.000005
Nossa Senhora de Nazaré    0.000005
Catolândia                 0.000005
Name: city, Length: 4463, dtype: float64

In [0]:
estados_total = df_estados.state.value_counts().sort_values(ascending=False)

In [129]:
temp = df.groupby(['epidemiological_week', 'date'])['new_confirmed','new_deaths'].sum().reset_index()
temp

     epidemiological_week       date  new_confirmed  new_deaths
0                       9 2020-02-25              2           0
1                       9 2020-02-26              0           0
2                       9 2020-02-27              0           0
3                       9 2020-02-28              2           0
4                       9 2020-02-29              0           0
..                    ...        ...            ...         ...
105                    24 2020-06-09          63270        2407
106                    24 2020-06-10          66950        2464
107                    24 2020-06-11          55478        2460
108                    24 2020-06-12          47672        1674
109                    24 2020-06-13          38279        1634

[110 rows x 4 columns]

In [0]:
#função melt do pandas para remodelar o dataframe com variável e valor, para ter a quantidade de casos
temp = temp.melt(id_vars='date', value_vars=['new_confirmed', 'new_deaths'], 
                 var_name='Case', value_name='Count')

In [131]:
temp.head(20)

         date           Case  Count
0  2020-02-25  new_confirmed      2
1  2020-02-26  new_confirmed      0
2  2020-02-27  new_confirmed      0
3  2020-02-28  new_confirmed      2
4  2020-02-29  new_confirmed      0
5  2020-03-01  new_confirmed      0
6  2020-03-02  new_confirmed      0
7  2020-03-03  new_confirmed      0
8  2020-03-04  new_confirmed      2
9  2020-03-05  new_confirmed      9
10 2020-03-06  new_confirmed      8
11 2020-03-07  new_confirmed     14
12 2020-03-08  new_confirmed     12
13 2020-03-09  new_confirmed      0
14 2020-03-10  new_confirmed      8
15 2020-03-11  new_confirmed     28
16 2020-03-12  new_confirmed     91
17 2020-03-13  new_confirmed     14
18 2020-03-14  new_confirmed     78
19 2020-03-15  new_confirmed     38

In [132]:
# Habilita modo offline
from plotly.offline import plot, iplot, init_notebook_mode
init_notebook_mode(connected=True)

In [0]:
import plotly.io as pio
pio.renderers
pio.renderers.default = "colab"

In [0]:
confirmados = '#21bf73'
mortes = '#ff2e63'

In [135]:
import plotly.express as px
fig = px.area(temp, 
              x='date', 
              y="Count", 
              color='Case', 
              height=600,
              title='Covid 19 ao longo do tempo',
              color_discrete_sequence = [confirmados, mortes])
fig.update_layout(xaxis_rangeslider_visible=True)
fig.show()

In [136]:
temp2 = df.groupby(['epidemiological_week'])['new_confirmed','new_deaths'].sum().reset_index()
temp2

    epidemiological_week  new_confirmed  new_deaths
0                      9              4           0
1                     10             33           0
2                     11            231           0
3                     12           1935          30
4                     13           5476         183
5                     14          13044         675
6                     15          21260        1394
7                     16          32365        2468
8                     17          44664        3398
9                     18          75848        5468
10                    19         119620        7776
11                    20         154663       10003
12                    21         233106       12985
13                    22         303575       13410
14                    23         349152       14344
15                    24         340640       13260

In [0]:
temp2 = temp2.melt(id_vars='epidemiological_week', value_vars=['new_confirmed', 'new_deaths'], 
                 var_name='Case', value_name='Count')

In [138]:
temp2.head()

   epidemiological_week           Case  Count
0                     9  new_confirmed      4
1                    10  new_confirmed     33
2                    11  new_confirmed    231
3                    12  new_confirmed   1935
4                    13  new_confirmed   5476

In [0]:
confirmados = '#21bf73'
mortes = '#ff2e63'

In [140]:
import plotly.express as px
grafico = px.area(temp2, 
              x='epidemiological_week', 
              y='Count', 
              color='Case', 
              height=600,
              title='Semanas epidemiológicas',
              color_discrete_sequence = [confirmados, mortes])
grafico.update_layout(xaxis_rangeslider_visible=True)
grafico.show()